<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GeneratorObjects" type="Objects.Generator.Core.Configuration.GeneratorObjectsSection, Objects.Generator.Core" requirePermission="false" />
  </configSections>
  <GeneratorObjects>
    <GeneratorConnections>
      <GeneratorConnection id="1" name="SERVER" enabled="false" provider="System.Data.SqlClient">
        <ConectionChain connectionString="Data Source={0};Initial Catalog={1};Integrated Security=True;Connect Timeout={2};" />
        <ConnectionOptions server="SRV-SQL2K8" database="Digital.Permit.TEST" user="" password="" timeout="30" />
      </GeneratorConnection>
      <GeneratorConnection id="2" name="HOME-PC" enabled="false" provider="System.Data.SqlClient">
        <ConectionChain connectionString="Data Source={0};Initial Catalog={1};Integrated Security=True;Connect Timeout={2};" />
        <ConnectionOptions server="ASUS-PC\REDSOL2" database="Climbing.Schools.Info.Fluent" user="" password="" timeout="30" />
      </GeneratorConnection>
      <GeneratorConnection id="3" name="ALTRAN-PC" enabled="false" provider="System.Data.SqlClient">
        <ConectionChain connectionString="Data Source={0};Initial Catalog={1};Integrated Security=True;Connect Timeout={2};" />
        <ConnectionOptions server="08APO0797\SQLEXPRESS" database="Climbing.Schools.Info.Fluent" user="" password="" timeout="30" />
      </GeneratorConnection>
      <GeneratorConnection id="4" name="TOKIOTA-PC" enabled="true" provider="System.Data.SqlClient">
        <ConectionChain connectionString="Data Source={0};Initial Catalog={1};Integrated Security=True;Connect Timeout={2};" />
        <ConnectionOptions server=".\SQLEXPRESS" database="Climbing.Schools.Info.Fluent" user="" password="" timeout="30" />
      </GeneratorConnection>
    </GeneratorConnections>
    <Namespaces name="Objects.JP" languaje="1" automatic="true">
      <Namespace id="1" name="Objects.JP.Entities" type="Entity" destinyPath="{0}\Objects\{1}.{2}" enabled="true">
        <GeneratorOptions blankLinesBetweenMembers="false" withImplementation="false">
          <ClassEntity id="1" partial="false" sealed="false" isEnum="false" fieldsEnum="true" withMetadata="true" addConstructorWithParameters="true">
            <Constructor id="1" startRegion="· Constructors" />
            <ClassMetadata id="1" sufix="{0}MetaData">
              <Attributes>
                <Attribute id="1" type="PrimaryKey" name="Required" enabled="true" value="" />
                <Attribute id="2" type="Field" name="Description" enabled="true" value="The {0} field." />
              </Attributes>
            </ClassMetadata>
            <Enumerations id="1" enumAttribute="Description" endEnums="{0}Fields" addAttribute="true" message="The field {0} to table {1}" />
          </ClassEntity>
          <PrivateProperties id="1" startRegion="· Private properties" endRegion="" prefixPrivateFields="_{0}" />
          <PublicProperties id="1" startRegion="· Public properties" endRegion="" hasGet="true" hasSet="true">
            <Attributes>
              <Attribute id="1" type="Field" name="Description" enabled="false" value="" messageProperty="The {0} class object." />
            </Attributes>
          </PublicProperties>
        </GeneratorOptions>
        <Imports>
          <Import id="1" name="System" enabled="true" />
          <Import id="2" name="System.Collection.Generic" enabled="true" />
          <Import id="3" name="System.ComponentModel.DataAnnotations" enabled="true" />
        </Imports>
      </Namespace>
      <Namespace id="2" name="Objects.JP.Repositories" type="GenericRepositoryCollection" destinyPath="{0}\Repositories\{1}.{2}" enabled="true">
        <GeneratorOptions blankLinesBetweenMembers="false" withImplementation="false">
          <ClassEntity id="1" partial="false" sealed="false" isEnum="false" fieldsEnum="false" withMetadata="false" addConstructorWithParameters="false" sufix="{0}Repository" />
          <PublicMethods>
            <PublicMethod id="1" name="Add" enabled="true" returnType="">
              <ExceptionMethod typeException="NotImplementedException" />
              <Parameters>
                <Parameter id="1" name="entity" enabled="true" type="T" />
              </Parameters>
            </PublicMethod>
            <PublicMethod id="2" name="GetAll" enabled="true" returnType="IEnumerable&lt;{0}&gt;">
              <ExceptionMethod typeException="NotImplementedException" />
            </PublicMethod>
          </PublicMethods>
        </GeneratorOptions>
        <Imports>
          <Import id="1" name="System" enabled="true" />
          <Import id="2" name="System.Collection.Generic" enabled="true" />
          <Import id="3" name="Objects.JP.Entities" enabled="true" />
        </Imports>
      </Namespace>
      <Namespace id="3" name="Objects.JP.Repositories" type="GenericRepository" destinyPath="{0}\Repositories\{1}.{2}" enabled="true">
        <GeneratorOptions blankLinesBetweenMembers="false" withImplementation="true">
          <ClassEntity id="1" partial="false" sealed="false" isEnum="false" fieldsEnum="false" withMetadata="false" addConstructorWithParameters="false" sufix="" />
          <PublicMethods>
            <PublicMethod id="1" name="Add" enabled="true" returnType="">
              <ExceptionMethod typeException="NotImplementedException" />
              <Parameters>
                <Parameter id="1" name="entity" enabled="true" type="T" />
              </Parameters>
            </PublicMethod>
            <PublicMethod id="2" name="GetAll" enabled="true" returnType="IEnumerable&lt;T&gt;">
              <ExceptionMethod typeException="NotImplementedException" />
            </PublicMethod>
          </PublicMethods>
        </GeneratorOptions>
        <Imports>
          <Import id="1" name="System" enabled="true" />
          <Import id="2" name="System.Collection.Generic" enabled="true" />
          <Import id="3" name="Objects.JP.Interfaces" enabled="true" />
        </Imports>
      </Namespace>
      <Namespace id="4" name="Objects.JP.Interfaces" type="GenericInterface" destinyPath="{0}\Interfaces\{1}.{2}" enabled="true">
        <GeneratorOptions blankLinesBetweenMembers="false" withImplementation="false">
          <ClassEntity id="1" partial="false" sealed="false" isEnum="false" fieldsEnum="false" withMetadata="false" addConstructorWithParameters="false" sufix="" />
          <PublicMethods>
            <PublicMethod id="1" name="Add" enabled="true" returnType="">
              <ExceptionMethod typeException="NotImplementedException" />
              <Parameters>
                <Parameter id="1" name="entity" enabled="true" type="T" />
              </Parameters>
            </PublicMethod>
            <PublicMethod id="2" name="GetAll" enabled="true" returnType="IEnumerable&lt;T&gt;">
              <ExceptionMethod typeException="NotImplementedException" />
            </PublicMethod>
          </PublicMethods>
        </GeneratorOptions>
        <Imports>
          <Import id="1" name="System" enabled="true" />
          <Import id="2" name="System.Collection.Generic" enabled="true" />
        </Imports>
      </Namespace>
    </Namespaces>
  </GeneratorObjects>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>